global-exclude *.py[cod]
prune __pycache__
prune requirements
prune tests
include HISTORY.rst
include LICENSE
include README.rst
include src/auto_prefetch/py.typed
exclude .editorconfig
exclude .pre-commit-config.yaml
include pyproject.toml
exclude build.sh
exclude tox.ini
